<VirtualHost foo.com:443>

	ServerAlias www.foo.com
	ServerAlias wiki.foo.com

	Include /var/www/tools/ssl-common.vhost
	Include /var/www/tools/wiki.vhost

        SSLCertificateFile /var/www/ssl/foo.com.crt
        SSLCertificateKeyFile /var/www/ssl/foo.com.key

</VirtualHost>
