# Unique name for this bot
$name         = 'FooBot';

# The organisation this bot is a part of if any
$organisation = 'Foo Inc.';

# The local wiki associated with this bot
$wiki         = 'http://wiki.foo.bar/wiki/index.php';
$wikiuser     = 'FooBot'; # defaults to $name
$wikipass     = '******';
$wgDBname     = 'foo';
$wgDBprefix   = 'foo_';
$wgDBuser     = 'foobot';
$wgDBpassword = '******';

# Set if bots are to reside in an IRC channel
$ircserver    = 'irc.foo.bar'; # defaults to irc.organicdesign.tv
$ircpass      = '******';

# Set if using a namecheap.com domain for dynamic DNS
$dnsdomain    = 'foo.bar'; # defaults to organicdesign.tv
$dnspass      = '****************************';

# Set this if this bot is part of a distributed network of bots
# Note1: the connection is made over SSH using $wikiuser and $wikipass
#        this is done because there will be a corresponding unix user
#        on all peers in the network due to the user propagation and
#        account synchronisation
# Note2: $netuser is an optional list to restrict users that are sync'd
# Note3: $netpass is a password common to all peers in the group and is
#        used for encrypting messages between them
# Note4: $netsync is used to define a group of periods (seconds for keys)
#        each cycle-key contains a list of paths and Unison options
$network = 'FooBarNet';
$netuser = [ 'Foo', 'Bar', 'Baz' ];
$netpass = '****************************';
$netself = 'foo.baz:1729';
$netpeer = 'bar.baz:1729';
$netsync = {
		600  => { paths => [ '/home' ], ignore => 'Path *', ignorenot => 'Path */Maildir' },
		3600 => { paths => [ '/home', '/shared' ], ignore => 'Path /shared/backup' }
}


# Set this if disk usage of file-structures is to be reported into the local wiki
@stat_paths   = (
	'/home/*',
	'/shared/*'
);

# Set this to important configuration files that need to be backed up
@config_paths = (
	'/var/www/vhosts',
	'/etc/exim4/virtual.domains',
	'/etc/exim4/virtual.users'
);
