[bitmessage]
port = 8442
interface = 127.0.0.1
username = BitMessageAPIuser
password = BitMessageAPIpass
program = /path/to/PyBitmessage/src

[interface]
port = 80
username = HTTP username
password = HTTP password

[user]
bmaddr = BM-YourBitMessageAddress
nickname = Foo
firstname = Henry
surname = McFoo
email = foo@bar.baz
website = http://bar.baz/foo

[groups]
