[bitmessage]
addr = BM-YourBitMessageAddress
port = 8442
interface = 127.0.0.1
username = BitMessageAPIuser
password = BitMessageAPIpass
program = /path/to/PyBitmessage/src

[interface]
port = 80

[groups]
